{% extends 'mytem/master.html' %}

{% block ABC %}

<!-- About Start -->
<div class="container-fluid" style="background-color: #f2f1f8;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 p-2" id="about_page_top">
                <div class="sir_image_about">
                    <img class="img-fluid mx-auto mt-4 mb-2" src="/static/mycss/images/shivasir.png" alt="shivasir-image"
                        id="shivasir_image_about">
                    <h5 class="m-0">Shiva Gautam</h5>
                    <span style="color:black">12+ years of experience</span>
                </div>
                <div class="about_decription_container mt-3">
                    
                    <p class="font-weight-normal mb-4" id="about_description_sir">"I am Shiva Gautam, I am a teacher
                        and entrepreneur for
                        the past 12 years, I am managing the Software development company Kangaroo Software PVT
                        LTD and the best Software Education Institute SHIVA CONCEPT SOLUTION.I am very much
                        passionate about teaching and helping students. So I am provide this Shivaconceptdigital.com
                        platform which is the best digital training platform for Students on affordable fee
                        structure under the guidance of me

                        Whether you're new to programming or looking to take your skills to the next level, I am
                        here to guide you every step of the way.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about_image_container">
                    <img class="img-fluid rounded mb-3 mb-lg-0" src="/static/mycss/images/about.jpg" id="about_image" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<!-- Mission Start -->

<!-- Mission End -->
<div class="container-fluid mt-5 mb-5" id="about_contact_main_container">
    <div class="container">
        <div class="contact_about_div">
            <div class="about_contact_title">
                
            </div>
            <div class="row mt-5">
                <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                    <div class="contact_div_all" style="background: rgba(137, 187, 233, 0.22);">
                        <div class="contact_image_div1">
                            <i class="fa fa-address-card" aria-hidden="true"
                                style="font-size: 80px; color:#558b03;"></i>
                        </div>
                        <div class="contact_sub_title">
                            <h3 class="contact_child_title">Address</h3>
                        </div>
                        <div class="contact_sub_title">
                            <h3 class="contact_child_p" style="color: rgb(93 98 67);">M6 First Floor, Kanchan Sagar
                                Near Industry House,
                                Palasia A.B Road, Indore, India</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                    <div class="contact_div_all" style="background: rgba(48, 47, 47, 0.314);">
                        <div class="contact_sub_title">
                            <h3 class="contact_child_title">SOCIAL CHANNEL </h3>
                        </div>
                        <div class="social_channel_icon">
                            <a href="https://www.facebook.com/shivagautamconcept/"><i class="uil uil-facebook"
                                    id="about_facebook"></i></a>
                            <a href="https://www.instagram.com/shiva.gtmscs/"><i class="uil uil-instagram-alt"
                                    id="about_instagram"></i></a>
                            <a
                                href="https://api.whatsapp.com/send/?phone=917805063968&text&type=phone_number&app_absent=0"><i
                                    class="uil uil-whatsapp"id="about_whatsapp"></i></a>
                            <a href="https://www.linkedin.com/in/shivagtm/"><i
                                    class="uil uil-linkedin"id="about_linkedin"></i></a>
                            <a href="https://www.youtube.com/shivaconceptsoln"><i
                                    class="uil uil-youtube"id="about_youtube"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                    <div class="contact_div_all" style="background: rgba(137, 187, 233, 0.22); text-align: center;">
                        <div class="contact_image_div">
                            <img src="/static/mytem/images/contact_about.png" alt="contact" class="contact_img_about">
                        </div>
                        <div class="contact_sub_title">
                            <h3 class="contact_child_name">Contact </h3>
                        </div>
                        <div class="contact_sub_title">
                            <p class="contact_child_number" style="color: rgb(189, 186, 0);">+91-78050-63968 </p>
                        </div>
                        <div class="contact_sub_title">
                            <p class="contact_child_email">Email ID: </p>
                        </div>
                        <div class="contact_sub_title">
                            <p class="contact_child_emailid" style="color: rgb(92, 168, 255);">
                                shivaconceptsolution@gmail.com </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}