{% extends 'mytem/master.html' %}
{% block ABC %}

    <!-- Header Start -->
    <div class="container-fluid page-header" style="margin-bottom: 40px; background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/static/mycss/images/cccon.png), no-repeat center center;
    ">
        <div class="container">
            <div class="d-flex flex-column justify-content-center" style="min-height: 300px">
                <h3 class="display-4 text-white text-uppercase">Contact</h3>
                <div class="d-inline-flex text-white">
                    <p class="m-0 text-uppercase"><a class="text-white" href="/">Home</a></p>
                    <i class="fa fa-angle-double-right pt-1 px-3"></i>
                    <p class="m-0 text-uppercase">Contact</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- Contact Start -->
    <div class="container-fluid">
        <div class="container">
            <div class="text-center">
                <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Contact</h5>
                <h1>Contact For Any Query</h1>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="contact-form bg-secondary rounded p-5">
                        <div id="success"></div>
                        <form action="" method="POST" name="sentMessage" id="contactForm"
                           >{% csrf_token %}
                            <input type="hidden" name="_token" value="UalOwc5hd486qIkcaRT1fG8qWuAZA9pOfcUf2G1I">                            <div class="control-group">
                                <input type="text" class="form-control border-0 p-4" id="name"
                                    placeholder="Your Name" required="required" name="name"
                                    data-validation-required-message="Please enter your name" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <input type="email" class="form-control border-0 p-4" id="email"
                                    placeholder="Your Email" required="required" name="email"
                                    data-validation-required-message="Please enter your email" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <input type="text" class="form-control border-0 p-4" id="mobile" placeholder="Mobile"
                                    required="required" name="mobile"
                                    data-validation-required-message="Please enter a Mobile" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <textarea class="form-control border-0 py-3 px-4" rows="5" id="message" placeholder="Message"
                                    required="required" name="message" data-validation-required-message="Please enter your message"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-primary py-3 px-5" type="submit" id="sendMessageButton">Send
                                    Message</button>
                     {% if key %}               <h5 class="text-primary">Successully !</h5>
                    
                            {% endif %}</div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->


{% endblock %}