{% extends "mytem/master.html" %}

{% block ABC %}
 <!-- frequently Start -->
 <div class="frequently" style="margin-top: 0px;">
    <div class="container" id="freque-container">
        <div class="frequently col-12 col-md-12 col-lg-12 col-sm-12">
            <div class="frequently-title">
                <h1 class="frequently-text1" id="our_students">Frequently Asked Questions</h1>
            </div>

            <div class="accordion">
                <div class="accordion-tab">
                    <input type="checkbox" id="toggle1" class="accordion-toggle1" name="toggle">
                    <label for="toggle1"> What type of organization is Shiva Concept Digital?</label>
                    <div class="accordion-content">
                        <p>Shiva Concept Digital is the software training institute, established from 2013 in
                            Indore India, We are providing programming languages training services from past 10
                            years, we have trained 20000+ students, we have conducted 500+ workshops and seminar in
                            100+ engineering colleges.
                        </p>
                    </div>
                </div>

                <div class="accordion-tab">
                    <input type="checkbox" id="toggle2" class="accordion-toggle1" name="toggle">
                    <label for="toggle2">Why should I choose Shiva Concept Digital?</label>
                    <div class="accordion-content">
                        <p>Firstly, our institute has a team of highly experienced and skilled trainers who are
                            passionate about teaching and have a deep understanding of the latest industry trends
                            and technologies. They are committed to providing personalized attention and guidance to
                            each student, ensuring that they are equipped with the knowledge and skills required to
                            excel in their careers.
                        </p>
                        <p>Secondly, we offer a comprehensive and up-to-date curriculum that is designed to meet the
                            needs of the industry. Our courses are regularly updated to reflect the latest trends
                            and technologies, ensuring that our students are always at the forefront of the field.
                        </p>
                        <p>Thirdly, we provide a supportive and collaborative learning environment that encourages
                            students to ask questions, share ideas, and work together to solve problems. Our
                            institute is equipped with state-of-the-art facilities and resources, including advanced
                            software and hardware, to ensure that our students have access to the best possible
                            learning experience.
                        </p>
                        <p>Lastly, we are committed to providing affordable and flexible learning options that cater
                            to the needs of our students. We offer a range of courses and programs, including online
                            and offline classes, to ensure that our students can learn at their own pace and
                            convenience.
                        </p>
                        <p>In summary, if you choose SHIVA CONCEPT Digital, you can be assured of receiving
                            high-quality training, a comprehensive curriculum, a supportive learning environment,
                            and flexible learning options that will help you achieve your goals in the field of
                            programming.
                        </p>
                    </div>
                </div>
                <div class="accordion-tab">
                    <input type="checkbox" id="toggle3" class="accordion-toggle1" name="toggle">
                    <label for="toggle3"> how many type of courses in Shiva Concept Digital?</label>
                    <div class="accordion-content">
                        <p>we offer a wide range of courses to cater to the varied needs and interests of our
                            students. These include programming languages such as Java, Python, C++, and PHP, as
                            well as web development, mobile app development, data science, artificial intelligence,
                            and machine learning courses. We also offer specialized courses in areas such as
                            database management, cloud computing, cybersecurity, and software testing. With our
                            comprehensive range of courses, we aim to provide our students with the knowledge and
                            skills required to succeed in the dynamic and rapidly evolving field of programming.
                        </p>
                    </div>
                </div>

                <div class="accordion-tab">
                    <input type="checkbox" id="toggle4" class="accordion-toggle1" name="toggle">
                    <label for="toggle4">What is Career in java, python, react, etc?</label>
                    <div class="accordion-content">
                        <a class="nav-link" style="padding-left: 10px; font-weight:bolder; color:black;"
                            href="./e-counselling">e-Counselling</a>
                    </div>
                </div>
                <div class="accordion-tab">
                    <input type="checkbox" id="toggle5" class="accordion-toggle1" name="toggle">
                    <label for="toggle5">Which are best courses for job? </label>
                    <div class="accordion-content">
                        <p> PYTHON, JAVA, react are the best technology for
                            Job.
                        </p>
                    </div>
                </div>

                <div class="accordion-tab">
                    <input type="checkbox" id="toggle6" class="accordion-toggle1" name="toggle">
                    <label for="toggle6">How will I get the course completion certificate?</label>
                    <div class="accordion-content">
                        <p>Every course has a Quiz/Assignment. Once you complete the Quiz/Assignment, the course
                            completion certificate will be available in your dashboard within 24 Hours.
                        </p>
                    </div>
                </div>

                <div class="accordion-tab">
                    <input type="checkbox" id="toggle7" class="accordion-toggle1" name="toggle">
                    <label for="toggle7">Which technology is best for learning? </label>
                    <div class="accordion-content">
                        <p>The best technology for learning depends on your personal interests, career goals, and
                            the current demand in the job market. Some of the most popular and in-demand
                            technologies currently include web development frameworks such as React and Angular,
                            programming languages such as Python and Java, data science tools such as R and Python,
                            cloud computing platforms such as AWS and Azure, and mobile app development frameworks
                            such as Flutter and React Native. It's important to do your own research and choose a
                            technology that aligns with your interests and career goals, and that has a high demand
                            in the job market. If you don't know which technology you should choose so call/visit
                            shiva concept Digital we will help you.
                        </p>
                    </div>
                </div>

                <div class="accordion-tab">
                    <input type="checkbox" id="toggle8" class="accordion-toggle1" name="toggle">
                    <label for="toggle8">What is time duration of courses?</label>
                    <div class="accordion-content">
                        <p>The time duration of the courses are 4 to 6 months for Job assistance, 2 to 3 months for
                            certification and 6 to 8 months for corporate.
                        </p>
                    </div>
                </div>

                <div class="accordion-tab">
                    <input type="checkbox" id="toggle9" class="accordion-toggle1" name="toggle">
                    <label for="toggle9">What are the most popular course offered by Shiva Concept
                        Digital?</label>
                    <div class="accordion-content">
                        <p>Corporate courses are most popular courses by SCS, we provide 100% placement assurance on
                            that courses and provide project certification as well.
                        </p>
                    </div>
                </div>

                <div class="accordion-tab">
                    <input type="checkbox" id="toggle10" class="accordion-toggle1" name="toggle">
                    <label for="toggle10">How many company tie-up?</label>
                    <div class="accordion-content">
                        <p>500+ company in Indore city and 200+ company from outside.
                        </p>
                    </div>
                </div>

                <div class="accordion-tab">
                    <input type="checkbox" id="toggle11" class="accordion-toggle1" name="toggle">
                    <label for="toggle11">How many mode to pay fees? </label>
                    <div class="accordion-content">
                        <p>You can pay fee, online mode also.
                        </p>
                    </div>
                </div>

                <div class="accordion-tab">
                    <input type="checkbox" id="toggle12" class="accordion-toggle1" name="toggle">
                    <label for="toggle12">What are my next learning opportunities after completing course from
                        Shiva Concept Digital? </label>
                    <div class="accordion-content">
                        <p>After completing a course from SHIVA CONCEPT Digital, you will have a wide range of
                            learning opportunities to further enhance your skills and knowledge in the field of
                            programming. You can choose for advanced courses that build upon the concepts covered in
                            your previous course, or you can choose to specialize in a specific area such as web
                            development, mobile app development, data science, or artificial intelligence.
                            Additionally, you can attend interview, workshops and seminars to learn about the latest
                            industry trends and technologies, and network with other professionals in the field.
                        </p>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <p class="frequently-footer">For any query, please contact us at
                    shivaconceptsolution@gmail.com</p>
            </div>
        </div>
    </div>
</div>
<!-- frequently End -->

{% endblock %}