{% extends 'mytem/master.html' %}
{% block ABC %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Student Login</div>
                <div class="card-body">
                    <form method="post" action="">
                        {% csrf_token %}
                                           <div class="row mb-3">
                            <label for="email"
                                class="col-md-4 col-form-label text-md-end">Email Address</label>
                            <div class="col-md-6">
                                <input id="email" type="email"
                                    class="form-control " name="email"
                                 required  autofocus>

                                                                </div>
                        </div>

                        <div class="row mb-3">
                            <label for="password"
                                class="col-md-4 col-form-label text-md-end">Password</label>
                            <div class="col-md-6">
                                <input id="password" type="password"
                                    class="form-control " name="password"
                                    required >
                                                                </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-6 offset-md-4">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="remember" id="remember"
                                        >
                                    <label class="form-check-label" for="remember">
                                        Remember Me
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-6">
                            <div class="col-md-6 offset-md-4">
                                <button style="margin: 10px 0;" type="submit" class="btn btn-primary">
                                    Login
                                </button>{% for key,value in res.items %}
                                {{key}}
                                {{value}}
                                {% endfor %}

                                                                        <a class="btn btn-link" href="https://shivaconceptdigital.com/password/reset">
                                        Forgot Your Password?
                                    </a>
                                                                </div>
                        </div>
                        <div>Dont have an account? <a class="btn btn-link login_rg_link" href="/register">
                                Enroll Now
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}